body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: #181922;
    overflow: hidden;

}

main{
    display: flex;
}


.logo{
    margin: auto;
    margin-top: 5px;
    width: 80vw;
    height: 60px;
    box-sizing: border-box;
    display: flex;
    background-color: #30344a;
    border-radius: 10px;
    border: solid 2px #000;
    text-decoration: none;
}





.logo-img{
    position: relative;
    top: 2px;
    height: 40px;
    border-radius: 25px;
    border: solid 1px #fff;
    margin: 5px;
}

.logo-titulo{
    position: relative;
    top: -4px;
    color: #fff;
    font-size: 25px;
    font-family: "Cascadia Mono", sans-serif;
    text-decoration: none;

}

.opciones{
    display: flex;
    justify-content: center;
    width: 26vw;
    border-radius: 10px;
    position: absolute;
    right: 4vw;
}

.opciones>button{
    background: #30344a;
    border-radius: 50%;
    text-align: center;
    margin: 5px;
    margin-right: 2vw;
    height: 40px;
    width:40px;
    color: #90acd1;
    border: solid 2px #30344a;
}

.opciones>button:hover{

   background: #90acd1;
   color: #30344a;
}

.opciones>button>.material-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}


.opciones{
    width: 26vw;
}

.caja-informacion{
    overflow: auto;
    border-radius: 15px;
    margin: auto;
    margin-top: 1vh;
    height: 80vh;
    width: 30vw;
    background-color: #30344a;
}

.caja-informacion::-webkit-scrollbar{
    display: none;
}

.juego-titulo{
    background-color: #00ffff;
    font-family: "Cascadia Mono", sans-serif;
    font-size: 19px;
    margin: 5px;
    border-radius: 10px;
    text-align: center;
}

.portada{
    position: relative;
    left: 7vw;
    margin: 5px ;
    height: 35vh;
    width: 14.7vw;
    border-radius: 10px;
    border: solid 2px #00ffff;
}

.plataforma-titulo{background-color:#61ee59b0;
    border-radius: 10px;
    margin: 5px;
    font-family: "Cascadia Mono", sans-serif;
    font-size: 20px;
    text-align: center;
    margin-left: 1vw;
    margin-right: 1vw;
    padding: 5px;
}

.descargar{
    background-color:#61ee59b0;
    border-radius: 10px;
    margin: 5px;
    font-family: "Cascadia Mono", sans-serif;
    font-size: 20px;
    text-align: center;
    margin-left: 1vw;
    margin-right: 1vw;
    padding: 5px;
}

.descargar>a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #00f;
}

.descripcion{
    box-sizing: border-box;
    font-family: "Cascadia Mono", sans-serif;
    color: #90acd1;
    margin: 10px;
}

.caja-requisitos{
    overflow-y: auto;
    display: flex;
    border-radius: 15px;
    margin: auto;
    margin-top: 1vh;
    height: 80vh;
    width: 30vw;
    background-color: #30344a;

}


.caja-requisitos::-webkit-scrollbar{
    display: none;
}


.requisitos-titulo{
    background-color: #00ffff;
    border-radius: 10px;
    margin-top: 5px;
    font-family: "Cascadia Mono", sans-serif;
    font-size: 20px;
    text-align: center;
    margin-left: 1vw;
    margin-right: 1vw;
    
}


.requisitos{
    box-sizing: border-box;
    font-family: "Cascadia Mono", sans-serif;
    color: #90acd1;
    margin: 10px;
}


span{
    background-color: #00ffff;
    color: #000;
    font-size: 17px;
    border-radius: 10px;
}

.caja-trailer{
    text-align: center;
    border-radius: 15px;
    margin: auto;
    margin-top: 1vh;
    height: 80vh;
    width: 30vw;
    background-color: #30344a;
}

.trailer-titulo{
    
    background-color: #00ffff;
    border-radius: 10px;
    margin: 5px;
    font-family: "Cascadia Mono", sans-serif;
    font-size: 20px;
    text-align: center;
    margin-left: 1vw;
    margin-right: 1vw;
}

.caja--trailer{
    text-align: center;
    border-radius: 10px;
    margin: auto;
    margin-top: 14vh;
    height: 42vh;
    width: 29vw;
    background-color: #1118;
}

#trailer{
    border-radius: 10px;
    margin: auto;
    margin-top: 1vh;
    height: 40vh;
    width: 28vw;
}

@media (max-width: 768px) {

    body {
        background: #181922;
        overflow: auto;
    }

  .logo {
    width: 100vw;
}

  main {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .caja-informacion {
    order: 1;
    width: 90vw;
    height: 50vh;
  }

  .caja-requisitos {
    order: 2;
    width: 90vw;
    height: 50vh;
  }

  .caja-trailer {
    order: 3;
    width: 90vw;
    height: 50vh;
  }

  

.portada{
    position: relative;
    left: 18vw;
    margin: 5px ;
    height: 35vh;
    width: 50vw;
    border-radius: 10px;
    border: solid 2px #00ffff;
}

.requisitos-titulo{
    background-color: #00ffff;
    border-radius: 10px;
    margin-top: 5px;
    font-family: "Cascadia Mono", sans-serif;
    font-size: 20px;
    text-align: center;
    margin-left: 1vw;
    margin-right: 1vw;
    width: 88vw;
}

.caja--trailer{
    text-align: center;
    border: solid 2px #00ffff;
    border-radius: 10px;
    margin: auto;
    margin-top: 1vh;
    height: 43vh;
    width: 85vw;
    background-color: #1118;
}

#trailer{
    border-radius: 10px;
    margin: auto;
    margin-top: 6.5vh;
    height: 30vh;
    width: 75vw;
}

.emoji{
    position: relative;
    top: -2px;
    height: 40px;
    border-radius: 25px;
    border: solid 1px #fff;
    margin: 5px;
}

.logo-titulo{
    position: relative;
    top: -3px;
    color: #fff;
    font-size: 23px;
    font-family: "Cascadia Mono", sans-serif;
    text-decoration: none;

}



}
