body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: #05b8ff;
    background: linear-gradient(180deg, rgba(5, 184, 255, 1) 66%, rgba(38, 222, 114, 1) 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main{
    display: flex;
}


.logo{
    margin: auto;
    margin-top: 5px;
    width: 80vw;
    height: 60px;
    box-sizing: border-box;
    display: flex;
    background-color: #000;
    border-radius: 10px;
    border: solid 2px #000;
    text-decoration: none;
}

.logo:hover{
    margin: auto;
    margin-top: 5px;
    width: 80vw;
    height: 60px;
    box-sizing: border-box;
    display: flex;
    background-color: #26DE72;
    border-radius: 10px;
    border: solid 2px #000;
}



.logo-img{
    position: relative;
    top: 2px;
    height: 40px;
    border-radius: 25px;
    border: solid 1px #fff;
    margin: 5px;
}

.logo-titulo{
    position: relative;
    top: -4px;
    color: #fff;
    font-size: 25px;
    font-family: "Cascadia Mono", sans-serif;
    text-decoration: none;

}

.emoji{
    position: relative;
    top: -2px;
    height: 40px;
    border-radius: 25px;
    border: solid 1px #fff;
    margin: 5px;
}


.caja-informacion{
    border: solid 2px #00ffff;
    overflow: auto;
    border-radius: 10px;
    margin: auto;
    margin-top: 1vh;
    height: 80vh;
    width: 30vw;
    background-color: #111b;
}

.caja-informacion::-webkit-scrollbar{
    display: none;
}

.juego-titulo{
    background-color: #00ffff;
    font-family: "Cascadia Mono", sans-serif;
    font-size: 19px;
    margin: 5px;
    border-radius: 10px;
    text-align: center;
}

.portada{
    position: relative;
    left: 7vw;
    margin: 5px ;
    height: 35vh;
    width: 14.7vw;
    border-radius: 10px;
    border: solid 2px #00ffff;
}

.plataforma-titulo{background-color:#61ee59b0;
    border-radius: 10px;
    margin: 5px;
    font-family: "Cascadia Mono", sans-serif;
    font-size: 20px;
    text-align: center;
    margin-left: 1vw;
    margin-right: 1vw;
    padding: 5px;
}

.descargar{
    background-color:#61ee59b0;
    border-radius: 10px;
    margin: 5px;
    font-family: "Cascadia Mono", sans-serif;
    font-size: 20px;
    text-align: center;
    margin-left: 1vw;
    margin-right: 1vw;
    padding: 5px;
}

.descargar>a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #00f;
}

.descripcion{
    box-sizing: border-box;
    font-family: "Cascadia Mono", sans-serif;
    color: #fff;
    margin: 10px;
}

.caja-requisitos{
    overflow-y: auto;
    border: solid 2px #00ffff;
    display: flex;
    border-radius: 10px;
    margin: auto;
    margin-top: 1vh;
    height: 80vh;
    width: 30vw;
    background-color: #111b;

}


.caja-requisitos::-webkit-scrollbar{
    display: none;
}


.requisitos-titulo{
    background-color: #00ffff;
    border-radius: 10px;
    margin-top: 5px;
    font-family: "Cascadia Mono", sans-serif;
    font-size: 20px;
    text-align: center;
    margin-left: 1vw;
    margin-right: 1vw;
    width: 28vw;
}


.requisitos{
    box-sizing: border-box;
    font-family: "Cascadia Mono", sans-serif;
    color: #fff;
    margin: 10px;
}


span{
    background-color: #00ffff;
    color: #000;
    font-size: 17px;
    border-radius: 10px;
}

.caja-trailer{
    text-align: center;
    border: solid 2px #00ffff;
    border-radius: 10px;
    margin: auto;
    margin-top: 1vh;
    height: 80vh;
    width: 30vw;
    background-color: #111b;
}

.trailer-titulo{
    
    background-color: #00ffff;
    border-radius: 10px;
    margin: 5px;
    font-family: "Cascadia Mono", sans-serif;
    font-size: 20px;
    text-align: center;
    margin-left: 1vw;
    margin-right: 1vw;
}

.caja--trailer{
    text-align: center;
    border: solid 2px #00ffff;
    border-radius: 10px;
    margin: auto;
    margin-top: 1vh;
    height: 72vh;
    width: 28vw;
    background-color: #1118;
}

#trailer{
    border-radius: 10px;
    margin: auto;
    margin-top: 15vh;
    height: 40vh;
    width: 27vw;
}

@media (max-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .caja-informacion {
    order: 1;
    width: 90vw;
    height: 50vh;
  }

  .caja-requisitos {
    order: 2;
    width: 90vw;
    height: 50vh;
  }

  .caja-trailer {
    order: 3;
    width: 90vw;
    height: 50vh;
  }

  

.portada{
    position: relative;
    left: 18vw;
    margin: 5px ;
    height: 35vh;
    width: 50vw;
    border-radius: 10px;
    border: solid 2px #00ffff;
}

.requisitos-titulo{
    background-color: #00ffff;
    border-radius: 10px;
    margin-top: 5px;
    font-family: "Cascadia Mono", sans-serif;
    font-size: 20px;
    text-align: center;
    margin-left: 1vw;
    margin-right: 1vw;
    width: 88vw;
}

.caja--trailer{
    text-align: center;
    border: solid 2px #00ffff;
    border-radius: 10px;
    margin: auto;
    margin-top: 1vh;
    height: 43vh;
    width: 85vw;
    background-color: #1118;
}

#trailer{
    border-radius: 10px;
    margin: auto;
    margin-top: 6.5vh;
    height: 30vh;
    width: 75vw;
}

.emoji{
    position: relative;
    top: -2px;
    height: 40px;
    border-radius: 25px;
    border: solid 1px #fff;
    margin: 5px;
}

.logo-titulo{
    position: relative;
    top: -3px;
    color: #fff;
    font-size: 23px;
    font-family: "Cascadia Mono", sans-serif;
    text-decoration: none;

}



}
